{% extends "network/layout.html" %}


{% block allposts %}
    active
{% endblock %}
{% block body %}

{% load load_functions %}
     {% if user.is_authenticated %}

    <div class="followboard" id="allpostspage">

        <h1> All Posts, {{ posts_count}}</h1>
    </div>

    <div class="postcontainer" >
        {% for post in posts %}
        <div class="postcontainer2" >

        <div class="photo" style="padding-top: 5px; margin: 10px;">
            <img src="{% if post.poster.img %} {{post.poster.img.url}} {% else %} default.jpeg {% endif %}" width="70" height="70" alt="profile_pic" style="border-radius: 50%">
        </div>
        <div class="posts ">
            <div class="posthead" >
                <div class="poster {%if post.poster.id == user.id%} mypost{% endif %}">
                    <div>
                        <a class="postername {%if post.poster.id == user.id%} me{% endif %}" href="{% url 'user' post.poster.username %}"> {{post.poster.username.capitalize}}</a>
                        {% if post.poster.id == user.id %}
                        <span class="trashcan fa-solid fa-trash-can" data-postid="{{post.id}}"></span>
                        {% endif %}
                        <a class="date" style="color: darkgrey;">
                            {{post.time}}
                        </a>
                        <span class="edit">
                        {% if post.poster.id == user.id %}
                        <button class="editlink btn btn-light btn-sm btn-sml" style="font-size: 12px; padding: 0px 5px; margin: 0px 20px;"> Edit </button>
                        {% endif %}
                        </span> 
                    </div>

                </div><div id ="postdiv{{post.id}}" class="postcontent" data-postid="{{post.id}}">
                    <a> {{post.content.capitalize}}</a>
                </div>  
                
            </div>
            <div class="postbody">

                <div class="like">
                    <span class="likebutton" data-userid="{{user.id}}" data-postid={{post.id}}> 
                        {% if user in post.id|likers %}
                        <i class="fa-solid fa-heart"></i>
                        {% else %}
                        <i class="far fa-heart"></i>
                        {% endif %}
                    </span><a class="postlikesnum" style="color: darkgrey"> {{post.likes}}</a>
                    
                        <span class="view_comments" style="cursor: pointer; float:right; color: lightgrey;"> <a> </a>{{post.comments.all.count}} Comments<a> </a></span> 
                    
                </div>


                
            </div>
            <div class="comments_container" style="width: 100%; display: none; padding: 0px 0px 0px 50px;">
                <div class="comments">
                {% for comment in post.comments.all %}
                    <div class= "comment">
                        <a class="comment_poster" href="{% url 'user' comment.poster.username %}"> {{comment.poster.username.capitalize}}</a>
                        <a class="comment_time"> {{comment.time}}</a>
                        <br>
                        <a class="comment_content"> {{comment.content}}</a>
                        
                    </div>
                {% endfor %}
                </div>
                <div class="type_comment">
                    <textarea id="text{{post.id}}" class="comment_text_area" autofocus="autofocus" name="comment" rows="2" cols="30" placeholder="Type your comment.." > </textarea>
                    <button class="comment_submit btn btn-sm" data-postid={{post.id}} data-username="{{user.username}}" style="background-color: #ddf4ff"> Comment </button>
                </div>

                
            </div>
          </div>
        </div>
        {% empty %}
        <h3> No Posts</h3>
        {% endfor %}



        {% if posts.has_other_pages %}

        <div style="float: right; margin: 10px 30px 0px 0px; font-size: 14px; padding: 0px;">
            <ul class="pagination pagination-sm">
            {% if posts.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">&laquo;</a>
            </li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
              {% if posts.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if posts.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
            </ul>
        
        </div>
        {% endif %}
    </div>



    <!--  -->


{% endif %}

    
{% endblock %}