{% extends "network/layout.html" %}

{% block body %}
     {% if user.is_authenticated %}

     <br><br>

    <!--<ul>
    {% for post in posts %}
        <li>{{post}}</li>
    {% empty %}
        <h3> No Posts here</h3>
    {% endfor %}
    </ul>-->

    
    <div class="postcontainer">
        {% for post in posts %}
        <div class="posts" >
            
            <a> {{post.content}}</a>
            
            <div class="poster">
                <a> {{post.poster.username}}</a>
            </div>

            <div class="like">
                <a> {{post.likes}} likes</a>
                <a href="{% url 'like' post.id %}"> 
                    {% if like %}
                    <!-- make request to server for like-->
                    Unlike
                    {% else %}
                    Like
                    {% endif %}
                </a>
            </div>
            <div class="date">
                {{post.date}}
            </div>
        </div>
        {% empty %}
        <h3> No Posts</h3>
        {% endfor %}
    </div>


      {% endif %}
    
{% endblock %}