{% extends "network/layout.html" %}

{% block body %}

{% load load_functions %}
     {% if user.is_authenticated %}

    
    
    <div class="followboard">
        <h1> {{user2.username.capitalize}}</h1>
        <p> <a id="num_following">{{num_following}}</a> Following&nbsp;&nbsp; <a id=num_followers>{{num_followers}}</a> Followers</p>

       


        {% if user2.id != user.id %}

        <a id="follow" class=" followbutton btn {% if following %} btn-danger {% else %} btn-primary {% endif %}" 
        data-userid={{user2.id}} data-following={{following}} style="color:white"> 
            {% if following %}
             <i class="fa-solid fa-user-large-slash"></i> Unfollow
            {% else %}
             <i class="fa-solid fa-user-plus"></i>  Follow   
            {% endif %} 

            
        </a>
        {% endif %}
        <br><br>
        <h3> {{ posts_count}} Posts</h3>
    
    </div>
    <div class="dashboard_user">
    <div style="padding: 0px 10px 0px 10px;">
        <a class="user_name"> {{user2.username.capitalize}}</a>
    </div>
    <div class="followbutton" style="margin: 5px;">
        {% if user2.id != user.id %}

        <a href="{% url 'follow' user2.id %}" class="btn {% if following %} btn-danger {% else %} btn-primary {% endif %}" style="font-size: 12px; padding: 5px 5px;">
            {% if following %}
                <i class="fa-solid fa-user-large-slash"></i>Unfollow
                {% else %}
                <i class="fa-solid fa-user-plus"></i>Follow
                {% endif %} 
                {% for follower in user2.followers.all%} {{follower.username}} {% endfor %} 
            </a>
        {% endif %}
        
    </div>

    <div class="" style="padding: 5px; color: gray;" >
        <a style="font-weight: bold"> {{ num_following }}</a> <a>Following</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a style="font-weight: bold"> {{ num_followers }}</a> <a>Followers</a>
    </div>
    
    

    </div>

    
    
    <div class="postcontainer">
        
        <br>
        {% for post in posts %}
        <div class="posts {%if post.poster.id == user.id%} mypost{% endif %}" >
            <div class="posthead">
                <div class="poster">
                    <a class="postername {%if post.poster.id == user.id%} me{% endif %}" href="{% url 'user' post.poster.username %}"> {{post.poster.username.capitalize}}</a>
                    <div class="edit">
                        {% if post.poster.id == user.id %}
                        <button class="editlink btn btn-light btn-sm btn-sml" style="font-size: 12px; padding: 0px 5px;"> Edit </button>
                        {% endif %}
                        </div>
                </div><div id ="postdiv{{post.id}}" class="postcontent" data-postid="{{post.id}}">
                    <a> {{post.content.capitalize}}</a>
                </div>  
                
            </div>
            <div class="postbody">

                <div class="like">
                    <span class="likebutton" data-userid="{{user.id}}" data-postid={{post.id}}> 
                        {% if user in post.id|likers %}
                        <i class="fa-solid fa-heart"></i>
                        {% else %}
                        <i class="far fa-heart"></i>
                        {% endif %}
                    </span><a class="postlikesnum" style="color: darkgrey"> {{post.likes}}</a> 
                    
                </div>

                <div class="date">
                    {{post.date}}
                </div>
                
            </div>


            
        </div>
        {% empty %}
        <h3> No Posts</h3>
        {% endfor %}
    </div>


    {% if posts.has_other_pages %}
    
    <ul class="pagination">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">&laquo;</a>
    </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
    </ul>
    {% endif %}
    

    {% endif %}
{% endblock %}