.body{
    margin: 10px;
    padding:  20px;
}
.prepost{
    margin: 20px 50px 20px 50px auto;
}

.index{
    
}
.user_name{
    font-size: 20px;
    font-weight: bolder;
}

.dashboard{
    border: thin;
    border-style: outset;
    border-color: #DCDCDC;
    border-radius: 5px;
    padding: 0px 30px 0px 20px;
    margin: 0 auto;
    width: 60%;
    background-color:  white;
}
.dashboard_user{
    border: thin;
    border-style: outset;
    border-color: lightgrey;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0;
    display: none;
    width: 60%;
    background-color:  white;
}

.followboard{
    margin: 50px auto;
    width: 60%;
}

.followbutton:hover {
    

}
.postcontainer {

    margin: 0 auto;
    width: 60%;
    border: thin;
    border-radius: 5px;

}

.posts {
    width: auto;
    height: auto;
    padding: 0px 30px 0px 20px;
    margin: 15px auto;
    background-color: white;
    border-color: lightgrey;
    border: thin;
    border-style: outset;
    border-radius: 5px;
    /*background-color: #add8e6;*/*/
    
    
}

/* every posters name */
.poster{
    float: left;
    width: 100%; 
    height: 20%%;
    margin: 10px 0px 10px 0px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    position:relative; 
    
}

.date{
    position: relative;
    top: 5px;
    width: auto;
    font-size: 12px;
    color: lightgrey;
    margin: 0px 10px;
    
    vertical-align: top;
    font-weight: initial;
    
}

.like{
    
    color: red;
    height: 30px;
    
}

.postcontent{
    padding-bottom: 5px;
    font-size: 15px;
    width: auto;
    }

.posthead{
    height: auto;
    width: 100%;
    position: relative;

}
.postbody{
    width: 100%;
    font-size: 15px;
    
}

.edit2{
    position: relative;
    float: left;
}
.edit{
    
    font-size: 13px;
}

.numlikes{
    color: blue;
}

.followboard{
    font-family: monospace;

    font-size: 18px;
    margin: 0 auto;
}

.editform{
    display: none;
}

.postername{
    color: black;
}

/* current user's username on posts */
.me{
    
}

/* current user's posts */
.mypost{

}

.postlikesnum{
    color: darkgrey;
}

.likebutton {
    cursor: pointer;
}

.likebutton:hover {
    color: darkred;
}

.fa-heart{
    font-size:15px;
    
}

.editlink{
    font-size: 0.5 ;
    size: 5px;
    float: right;

}

.btm-sml{
    font-size: 0.5em;
    padding: 5px 5px;
}

.loginform{
    width: 50%;
    margin: 0 auto;
    
}

textarea{
    width: 90%;
    min-width: 75px;
    resize: none;
}

.dashhead{
    background-color: lightgrey;
    width: 100%;
    position: relative;
}

.trashcan {
    position:relative;
    cursor:pointer; 
    float: right; 
    color: darkgrey; 
    font-size: 15px; 
    top: 2px;
}

.trashcan:hover {
    color: red;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: lightgrey;
  color: black;
}

.modal-body {padding: 2px 16px;}




#settings {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}





























